@model ECommerce.Shared.ProductVm

@await Component.InvokeAsync("Category")

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    
</head>

<div class="container">
    <div class="row detail-info">
        <div class="col-sm-6" style="text-align:center">
            <img src="@Model.Images" alt="Card image cap" >
        </div>

        <div class="col-sm-6" style="text-align:center; border-left: 2px inset silver">
            <div class="shadow" style="border-radius:8px;">
                <div class="bg-dark" style="border-radius:8px 8px 0 0;">
                    <h4 style="color:white">@Model.ProductName</h4>
                    
                </div>
                <h5>@Model.BrandId</h5>
                <div class="buy-loc" style="font-size:23px; text-align:center; border-radius:0 0 8px 8px;">
                    <div class="custom-btn">
                        <div class="left-side">Buy Now</div>
                        <div class="right-side">@Model.Price$</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link tablink" onclick="openPage('Information', this, 'gray')" id="defaultOpen">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link tablink" onclick="openPage('Ratings', this, 'gray')">Ratings <span class="badge-light">@Model.RatingCount</span></a>
                </li>
            </ul>

            <div id="Information" class="tabcontent">
                <p>@Model.Description</p>
            </div>

            <div id="Ratings" class="tabcontent">
                <h3>Rating</h3>
                @using (Html.BeginForm("AddRating", "Rating"))
                {
                    @Html.HiddenFor(x => x.ProductId)
                    <select id="rating" name="rvalue">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button  type="submit" class="badge badge-warning" style="width:100px; color:white">Rate</button>
                }
                <textarea name="comment" rows="3" maxlength="200" style="width:99%; border-radius:8px;"></textarea>
                <p>@Model.RatingValue</p>
            </div>
        </div>
    </div>
</div>

<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }
    document.getElementById("defaultOpen").click();
</script>
