@{
    ViewData["Title"] = "Home Page";
}

@model IList<ECommerce.Shared.ProductVm>

@await Component.InvokeAsync("Category")

<head>
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<div class="container main-bg">
    <img src="~/imgs/abstract-neon-light-gaming-bg.jpg" style="width:100%" height="200px" />
    <div class="title-block">
        <p>Trending Games</p>

    </div>
    <div class="row list">
        @foreach (var product in Model)
        {
            <div class="col-3 item">
                <a class="cover-img" asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">
                    <p class="card-brand">@product.BrandId</p>
                    <img class="card-img" src="@product.Images" alt="Caption" />
                    <p class="card-price">@product.Price$</p>
                </a>
                <br />
                <br />
                <p class="card-title">@product.ProductName</p>

            </div>
        }
    </div>
    <button id="next">View more</button>
</div>
<script>
    $(document).ready(function () {
        
        var list = $(".item");       
        var numToShow = 4;
        var button = $("#next");
        var numInList = list.length;
        list.hide();
        if (numInList > numToShow) {
            button.show();
        }
        //show từ 0-4 item
        list.slice(0, numToShow).show();
        //event click view 4 item mỗi lần click
        button.click(function () {
            var showing = list.filter(':visible').length;
            list.slice(showing - 1, showing + numToShow).fadeIn();
            var nowShowing = list.filter(':visible').length;
            if (nowShowing >= numInList) {
                button.hide();
            }
        });

    });
</script>

